/***LESS VAR***/
/***color***/
@darkred: #990100;
@lightred: #7f0100;



/***INIT***/
body{font-size:100%;font-family:Helvetica;}


/***PROJECT FEATURED & MORE***/





/***PROJECT LIST***/

.proj-list{height:135px;position:relative;width:620px;background-color:#f7f7f7;}
.proj-list>video{display:inline-block;vertical-align:top;height:135px;margin:0;padding:0;padding-left:5px;padding-right:5px;}
.proj-list-desc{display:inline-block;width:350px;line-height:0.9;}
.proj-list-desc>h3{margin-top:5px;padding-top:0;margin-bottom:0;font-size:1em;margin-top:3px;line-height:0.2;margin-top:10px;color:@darkred;margin-bottom:2px;}
.proj-list-desc>h3>a{color:@darkred;text-decoration:none;}
.proj-list-desc>h3>a:hover{text-decoration:underline;}
.proj-list-desc>p, .proj-list-desc>p>a{font-size:0.75em;line-height:1;}
.proj-list-desc>p>a{text-decoration:none;color:@darkred;font-size:0.9em;}
.proj-list-desc>p>a:hover{text-decoration:underline;}
.proj-list-tag{font-size:0.6em;color:@darkred;}

.funded, .pledge, .freelance, .togo{display:inline-block;border-right:#eee solid 1px;padding-left:10px;padding-right:10px;font-size:0.72em;}
.togo{border-right:#fff;}
.funded{padding-left:0;}
.proj-list-stats>div>span{display:block;color:#333;}

.proj-list-stats-details{text-transform:uppercase;}
.proj-list-stats-details span:first-child{font-weight:bold;color:@darkred;font-size:1.4em;margin-bottom:2px;text-transform:lowercase;}

.progress-bar{height:20px;width:345px;border:#ddd solid 1px;position:relative;margin-top:3px;background-color:#eee;}
.progress-bar-value{position:absolute;height:100%;width:50%;
background: @darkred; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MDEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  @darkred 0%, @lightred 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@darkred), color-stop(100%,@lightred)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  @darkred 0%,@lightred 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  @darkred 0%,@lightred 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  @darkred 0%,@lightred 100%); /* IE10+ */
background: linear-gradient(to bottom,  @darkred 0%,@lightred 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990100', endColorstr='#7f0100',GradientType=0 ); /* IE6-8 */

}
