@import 'variable.less';

/** Page PROJET **/ 
@import 'page-home.less';
@import 'fiche.less';
@import 'page-list-projet.less';
@import 'page-projet.less';
@import 'popup-projet.less';
@import 'page-404.less';

/***mixin***/


.link_white {
	color: @white;
	text-decoration: none;
}

.link_d-red {
	color: @newred;
	text-decoration: none;
}

.share {
	text-align: center;
	margin: 40px 0 0;
	background: @lightgrey;
	padding: 15px 0;
	.borderradius(5px);
	width: 610px;

	&.share-thanks {
		background: none;
		display: inline-block;
		width: 400px;
		vertical-align: top;
		margin-left: 50px;
		padding: 0;

		.api {
			width: 100px;
		}

	}

	h5 {

		color: @newred;
		text-align: left;
		font-size: 20px;
		margin: 0 0 20px;
		text-indent: 10px;
		} 
	.api{
		display: inline-block;
		vertical-align: top;
		width: 190px;
		text-align: center;
		img{
			width: 47px !important;
		}
	} 
}

.f-left{
	float:left;
}

.f-right{
	float:right;
	}
.clear{
	clear:both;
}

.container-960{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	&.border{
		border-right:solid 1px #424242;
		border-left:solid 1px #252525;}
	}

/***INIT***/
body{
	font-size:100%;
	font-family:'dinpro-regularregular';
	background: @white;
	&.v2{
		background:@lightgrey;
	} 
}
section{
	position:relative;
	top:0px;
}

/***HEADER***/

header {
	background:@white;
	color:@darkgrey;
	position:relative;
	top:0;
	left:0;
	width:
	100%;
	z-index:
	10; 
	/*border-bottom:1px solid @lightgreyborder;*/
	.signin-container{
		/*border-top:@darkgreyborder 1px solid;*/
		width:100%;
		/*padding:1px;*/
		.signin{
			height:0px;
			width:100%;
			/*border-top:@lightgreyborder 1px solid;*/
			overflow:hidden;
			border-top:1px solid @lightgrey;
			.account{
				width:63%;
				/*background:#ccc;*/
				
				height:120px;
				h4{

					padding-left:5px;
					margin-top:10px;
					margin-bottom:10px;
				}
				form{
					input[type="text"], input[type="password"]{
						width:120px!important;
						margin-right:20px;
						display:inline-block;
						margin-left:5px;
					}
					button{
						color:@white!important;
						background:#333!important;
						.borderradius(30px);
						padding:6px 48px !important;
						font-size:14px!important;
						text-decoration:none!important;
						display:inline-block;
						vertical-align:bottom;
						border:none;
						cursor:pointer;
						/*-webkit-transition:all ease-in 0.4s;
						-moz-transition:all ease-in 0.4s;
						transition:all ease-in 0.4s;*/
						&:hover{

							
							background:#232323!important;
						}
					}
				}
				
				
			}
			.sign{
				width:37%;
				/*background:#ccc;*/
				
				height:120px;
				h4{

					padding-left:0px;
					margin-top:10px;
					margin-bottom:16px;
				}

				img{
					display:inline-block;
				}
				.classic-sign{
					color:@white;
					text-decoration:none;
					background:@turquoise;
					font-size:14px;
					.borderradius(5px);
					font-family:'dinprobold';
					padding:7px 64px;
				}
				.fb-sign{
					color:@white;
					text-decoration:none;
					background:#3b5999;
					font-size:14px;
					.borderradius(5px);
					font-family:'dinprobold';
					padding:7px 20px;
				}
				
			}
		} 
	}

	nav{
		text-align:right;
		.logo{
			float:left;
			height:33px;
			width:180px;
			text-align:left;

			}
		div{
			float:left;
			vertical-align:top;
			display:inline-block;
			padding-top:21px;
			padding-bottom:18px;
			/*border-left:1px solid @darkgreyborder;
			border-bottom:1px solid @darkgreyborder;
			border-right:1px solid @lightgreyborder;*/
			padding-right:10px;
			padding-left:10px;
			/*&:first-child{
				border:none;
				border-right:@lightgreyborder 1px solid;
				}*/

			&:last-child{
				/*border:none;
				border-left:@darkgreyborder 1px solid;*/
				width:63px;
				text-align:center;
				padding-top:29px;
				padding-bottom:21px;
				&:hover{
					background:@lightgrey;
				}
			}
		}
		ul{
			display:inline-block;
			float:left;
			margin-left:0px;
			height:73px;
			li{
				float:left;
				display:inline-block;
				/*border-left:1px solid @darkgreyborder;
				border-bottom:1px solid @darkgreyborder;
				border-right:1px solid @lightgreyborder;*/
				&:hover{
					background:@lightgrey;
					}
				a{
					width:125px;
					color:@darkgrey;
					text-decoration:none;
					font-size:1.06em;
					font-family:'dinpro-regularregular';
					padding: 20px 10px;
					margin:0;
					display:inline-block;
					text-align:left;
					vertical-align:middle;
					/*text-shadow:1px 0px 0px #000;*/
					&#connect{
							width:30px;
						}
					strong{
						/*text-transform: uppercase;*/
						font-family:'dinprobold';
					}					
				}
			}
		}
	}

	#search-bar{
		display:inline-block;
		input{
			border:#fff;
			border:#ddd 1px solid;
			background:@lightgrey;
			/*background:none;*/
			color:#666;
			font-size:10px;
			padding:9px;
			width:200px;
			height:12px;
			-webkit-transition:all ease-in-out 0.4s;
			-moz-transition:all ease-in-out 0.4s;
			transition:all ease-in-out 0.4s;
			.borderradius(30px);
			&:focus{
				border:#b9b9b9 1px solid;
				color:#333;
			}
		}
	}
}

/*** FOOTER ***/

footer {
	
	ul {
		display: inline-block;
		vertical-align: top;
		margin-left: 200px;
		color: @darkgrey;

		&:first-child {
			margin-left:0;
		}

		h6 {
			text-transform: uppercase;
			font-size: 1em;
			color: @white;
			margin: 1em;
		}

		li {
			font-size: .8em;
			color: @darkgrey;
			line-height: 1.5;
			

			strong {
				font-weight: bold;
				line-height: 2.5;
				text-transform: uppercase;
				font-size: 1.3em;
			}
			a {
				color: @darkgrey;
				text-decoration: none;

				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}
}



